<% if @reviews.any? %>
  <% @reviews.each do |review| %>
    <h2><%= review.rating %></h2>
    <h2><%= review.comment %></h2>
  <% end %>
<% else %>
  <h1>Reviews placeholder</h1>
<% end %>

<div>
  <!-- <form > -->
</div>
<a href="/restaurants/<%= @restaurant.id %>/reviews/new">Add a review</a>
